#content{
  margin-left: 280px;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background-image: url("../images/carSideMenu.png");
	 background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
}
#pageHeader {
  margin-top: 100px;
  margin-bottom: 20px;
}
.logout-btn:hover{
  border-bottom: 1pt black;
  cursor: pointer;
  transition: all 0.5s;
}